<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
  <li class="text-center">
      <img class="responsive-img" src="images/user.png">

    John Mata
  </li>
  <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
  <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="color.html">Color</a></li>
            <li><a href="grid.html">Grid</a></li>
            <li><a href="helpers.html">Helpers</a></li>
            <li><a href="media-css.html">Media</a></li>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="shadow.html">Shadow</a></li>
            <li><a href="table.html">Table</a></li>
            <li><a href="typography.html">Typography</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>