<ul id="nav-mobile" class="side-nav fixed grey lighten-3" style="transform: translateX(0px);">
  <li class="logo">
    <div><img class="brand-logo" src="images/user.png"></div>
    <h5>John Mata</h5>
    <h6 class="grey-text text-lighten-1">administratior@qq.com</h6>  
  </li>
  <li class="no=padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold active">
        <a class="collapsible-header active waves-effect waves-teal"><i class="material-icons dp48">supervisor_account</i>User</a>
        <div class="collapsible-body" style="display: block;">
          <ul>
            <li><a href="#">Management</a></li>
            <li><a href="#">Division</a></li>
            <li><a href="#">Database</a></li>
            <li class="active"><a href="#">Account</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no=padding">
    <a href="#" class="collapsible-header waves-effect waves-teal"><i class="material-icons dp48">settings_applications</i>Application</a>
  </li>
  <li class="no=padding">
    <a href="#" class="collapsible-header waves-effect waves-teal"><i class="material-icons dp48">videocam</i>Monitor</a>
  </li>  
  <li class="no=padding">
    <a href="#" class="collapsible-header waves-effect waves-teal"><i class="material-icons dp48">mode_edit</i>Statistics</a>
  </li>
</ul>